
<h1 class="#" style="font-family: 'Julius Sans One', sans-serif;">All Students</h1>




<div id="#">
<div id="#">
<table class="table table-hover table-dark">
 <thead>
    <tr>
  <tr class="top-row-table">
  <th class="tt-ow">First Name</th>
  <th class="tt-ow">Last Name</th>
  <th class="tt-ow">Age</th>
  <th class="tt-ow">Education</th>
  <th class="tt-ow">Students Profile</th>
  <th class="tt-ow">Remove a student</th>

  </tr>
  </thead>
  <tbody>

<% @student.each do |s| %>
    <tr id="pow-<%= s.id %>">
      <td><%= s.first_name %></td>

      <td class="#"><%= s.last_name %></td>
      <td class="table-learn"><%= s.age %></td>
      <td class="table-learn"><%= s.education %></td>
      
      <td class="table-learn"><a href="/students/<%= s.id %>">View Student</a></td>
      <td class="table-learn" style="font-size: 1.5em; padding-left: 30px;    align-items: center; vertical-align: middle;justify-content: center; display: flex; }">
        <%= link_to student_path(s.id), { method: :delete, data: {confirm: 'Are you sure?'}, :remote => true } do %>
        <i class="#" id="#"></i>
       
      </td>
    </tr>
    <% end %>
    <% end %>
</table>

<br>

<p class="edit-button-back">
   <%= link_to root_path,  { class: 'btn btn-primary goback-button' } do %>
   <i class="fas fa-long-arrow-alt-left"></i> Back
   <% end %>
</p>



   </div>
 </div>
