

<h2  class="hero-text-students">All Teachers</h2>
<table class="table table-hover table-dark">
 <thead>
    <tr>
  <th>First Name</th>
  <th>Last Name</th>
  <th>Age</th>
  <th>Salary</th>
  <th>Education</th>

  </tr>
  </thead>
  </tbody>


    <tr>
      <td><%= @teacher.first_name %></td>
      <td><%= @teacher.last_name %></td>
      <td><%= @teacher.age %></td>
      <td><%= @teacher.salary %></td>
      <td><%= @teacher.education %></td>


    </tr>
</table>
<p class="edit-button-all">
<%= link_to edit_teacher_path, { class: 'btn btn-danger' } do %>
Edit Profile
<% end %>
</p>