<!DOCTYPE html>
<html>
  <head>
    <title>Diamond Sounds Amin Panel</title>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% if session[:user_id]!= nil%>

<div class="s-layout">
    <!-- Sidebar -->
    <div class="s-layout__sidebar">
      <a class="s-sidebar__trigger" href="#0">
         <i class="fa fa-bars"></i>
      </a>
    
      <nav class="s-sidebar__nav">
         <ul>
            <li>
            <%=link_to "DirectorProfile", directors_path%>
            </li>
            <li>

            <%=link_to "Teachers", teachers_path%>
            </li>
            <li>
            <%=link_to "Students", students_path%>
              </li>
               
                <li>
                <%=link_to "Cohorts", cohorts_path%>
             </li>
             
             <li>
             <%=link_to "Courses", courses_path%>
            </li>
         </ul>
      </nav>
    </div>
    
    <% end %>
    </div>

    <%= yield %>

    
  </body>
</html>
